body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar input,
.navbar button {
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0;
  outline: none;
  border: none;
}

.navbar .navbar-brand {
  color: #e51843;
}

.navbar form {
  margin-right: 0px;
}

.navbar button {
  background: #e51843;
  color: white;
  padding: 7px;
}

.navbar button:hover {
  background: white;
  color: #e51843;
}

.teaser {
  height: 300px;

}

.teaser a {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 15px;
  background-size: cover;
  background-position: center center;
}

.teaser__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: white;
  font-size: 16px;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 5px;
  margin-right: 15px;
}

.teaser span.teaser__hide {
  display: none;
}
.teaser a:hover span.teaser__hide {
  display: block;
}